html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
	background: black;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0;
	transition: opacity 500ms ease-in-out;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.foreground {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: monospace;
	font-size: large;
}

.center {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.center-left-half, .center-right-half {
	flex: 1;
}

.top-bar, .bottom-bar {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar {
    top: 0;
}

.bottom-bar {
    bottom: 0;
}

.top-bar-left,
.top-bar-right,
.bottom-bar-left,
.bottom-bar-right {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.top-bar-left, .bottom-bar-left {
    left: 0;
}

.top-bar-right, .bottom-bar-right {
    right: 0;
}

.top-bar-center, .bottom-bar-center {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.top-bar-left div,
.top-bar-center div,
.top-bar-right div,
.top-bar-left button,
.top-bar-center button,
.top-bar-right button,
.bottom-bar-left div,
.bottom-bar-center div,
.bottom-bar-right div,
.bottom-bar-left button,
.bottom-bar-center button,
.bottom-bar-right button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2vh;
	margin: 0.75vh;
	padding: 0.5vh;
	background-color: rgba(0, 0, 0, 0.25);
	color: white;
	text-shadow: 0px 0px 0.5vh black;
	border: none;
	border-radius: 1vh;
	cursor: pointer;
	font-weight: bold;
}

.top-bar button, .bottom-bar button {
    width: 3vw;
    height: 3vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.top-bar button:active, .bottom-bar button:active {
    background-color: rgba(0, 0, 0, 0.75);
}

.button-left1 {
	background-image: url("icons/left1.svg");
}
.button-left2 {
	background-image: url("icons/left2.svg");
}
.button-left3 {
	background-image: url("icons/left3.svg");
}
.button-right1 {
	background-image: url("icons/right1.svg");
}
.button-right2 {
	background-image: url("icons/right2.svg");
}
.button-right3 {
	background-image: url("icons/right3.svg");
}
.button-up1 {
	background-image: url("icons/up1.svg");
}
.button-up2 {
	background-image: url("icons/up2.svg");
}
.button-up3 {
	background-image: url("icons/up3.svg");
}
.button-down1 {
	background-image: url("icons/down1.svg");
}
.button-down2 {
	background-image: url("icons/down2.svg");
}
.button-down3 {
	background-image: url("icons/down3.svg");
}
.button-plus {
	background-image: url("icons/plus.svg");
}
.button-minus {
	background-image: url("icons/minus.svg");
}
.button-select {
	background-image: url("icons/select.svg");
}
.button-unselect {
	background-image: url("icons/unselect.svg");
}
.button-new {
	background-image: url("icons/new.svg");
}
.button-open {
	background-image: url("icons/open.svg");
}
.button-save {
	background-image: url("icons/save.svg");
}
.button-small {
	background-image: url("icons/small.svg");
}
.button-full {
	background-image: url("icons/full.svg");
}

.buttons {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	cursor: pointer;
}
